body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {color: white;
    font-size 15pt;
}

h2 {
  text-align: center;
  color: white;
  font-size: 60pt;
  font-family: helvetica;
  font-weight: bolder;
  vertical-align: middle;
  padding: 0.005em;
  }
 


  div.border {
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
    width: 130px;
    height:25px;
    position: absolute;
    left: 45%;
    right:55%
    transform: translate(-50%,-50%);
    border: 2px solid white;
   
   }

   #one{
     padding-top: 15em;
     text-align: center;
     color: black;
     font-size: 10pt;
     font-family: helvetica;
   }

   #two{
     text-align: center;
     font-family: helvetica;
     color: white;
     font-weight: bold;
     font-size: 9pt;
     padding-top: 0.25em;
   }
  
    #corner{
      font-family: helvetica;
      color: white;
      font-size: 14pt;
      font-weight: bold;
    }